<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="static/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Comic+Relief:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>RideUp - 400</title>
  </head>
  <body class="body-error">
    <main class="main-error">
      <h1 class="error-title">Erreur 400</h1>
      <img
        src="/static/images/logo.png"
        class="logo-image"
        alt="moto sur une route avec un fond orange"
      />
      <div class="page-error-message">
        L'action que vous avez tenté d'effectuer n'est pas prise en charge.
      </div>

      <a href="/" id="rallback">⇢ Retour à l'accueil ⇠</a>
    </main>
    <!-- Footer -->
    <footer>
      <p>&copy; 2025 Pain Mathis. Tous droits réservés.</p>
    </footer>
  </body>
</html>
