<!DOCTYPE html>
<html lang="fr">
  {{template "InitHead" .}}
  <body class="body-connection">
    <main class="main-connection">
      <h1 class="app-title">Ride Up</h1>
      <h2>Connection</h2>
      <form id="registerForm" method="POST">
        <div class="form-group">
          <label for="registerEmail" class="form-label">Adresse e-mail :</label>
          <input
            type="text"
            name="email"
            id="registerEmail"
            placeholder="@email.com"
            required
            value="{{.Email}}"
          />
        </div>
        <div class="form-group">
          <label for="registerPassword" class="form-label"
            >Mot de passe :</label
          >
          <input
            type="password"
            name="password"
            id="registerPassword"
            placeholder="••••••••"
            required
            minlength="6"
          />
          <div class="show-password">
            <input
              type="checkbox"
              onclick="togglePassword('registerPassword', this)"
            />
            <span class="show-password-text">Afficher</span>
          </div>
        </div>
        <button value="submit" class="button">Connexion</button>
      </form>

      {{if .Error}}
      <div class="error-message">
        <p>{{.Error}}</p>
      </div>
      {{end}}

      <div id="external-connect" class="button">
        <a href="/auth/google/login">
          <button type="button" class="form-button">
            <img src="/static/images/google.png" alt="Connexion avec Google" />
            S'identifier avec Google
          </button>
        </a>
      </div>
    </main>
    {{template "InitFooter" .}}

    <div id="cookie-banner" class="cookie-banner hidden">
      <div class="cookie-content">
        <p>
          🍪 Ce site utilise des cookies pour améliorer votre expérience.
          <br />
          En continuant, vous acceptez notre utilisation des cookies.
        </p>
        <div class="cookie-buttons">
          <button id="accept-cookies" class="cookie-btn accept">
            Accepter
          </button>
          <button id="decline-cookies" class="cookie-btn decline">
            Refuser
          </button>
        </div>
      </div>
    </div>
    <script src="/static/js/connection.js" defer></script>
  </body>
</html>
