<!DOCTYPE html>
<html lang="fr">
{{template "InitHead" .}}

<body class="body-home">
  <main class="main-home">
    <h1 class="app-title">Ride Up</h1>
    <img src="static/images/logo.png" class="logo-image" alt="moto sur une route avec un fond orange" />
    <p>
      Cette application vous permet de créer et rejoindre des balades à moto
      pour profiter de chaque route en toute convivialité et vivre de nouvelles
      expériences avec d’autres passionnés.
    </p>

    <a href="/Connect" class="button">Connexion</a>

    <a href="/CreateAccount" class="register"> Crée un compte </a>
  </main>
  <!-- Footer -->
  {{template "InitFooter" .}}
</body>

</html>