<!DOCTYPE html>
<html lang="fr">
  {{template "InitHead" .}}
  <body class="body-UpdatePassword">
    {{template "InitNav" .}}
    <main class="update-password">
      <h2>Modifier mon mot de passe</h2>
      <form id="update-password-form" method="POST" action="/UpdatePassword">
        <!-- Ancien mot de passe -->
        <div class="form-group">
          <label for="oldpassword" class="form-label"
            >Ancien mot de passe :</label
          >
          <input
            type="password"
            name="OldPassword"
            id="oldpassword"
            placeholder="••••••••"
            required
          />
          <div class="show-password">
            <input
              type="checkbox"
              onclick="togglePassword('oldpassword', this)"
            />
            <span class="show-password-text">Afficher</span>
          </div>
          {{if .OldPasswordError}}
          <p class="error-message">{{.OldPasswordError}}</p>
          {{end}}
        </div>

        <!-- Nouveau mot de passe -->
        <div class="form-group">
          <label for="registerpassword" class="form-label"
            >Nouveau mot de passe :</label
          >
          <input
            type="password"
            name="NewPassword"
            id="registerpassword"
            placeholder="••••••••"
            required
            minlength="6"
          />
          <div class="show-password">
            <input
              type="checkbox"
              onclick="togglePassword('registerpassword', this)"
            />
            <span class="show-password-text">Afficher</span>
          </div>
          {{if .NewPasswordError}}
          <p class="error-message">{{.NewPasswordError}}</p>
          {{end}}
        </div>

        <!-- Confirmer mot de passe -->
        <div class="form-group">
          <label for="confirmpassword" class="form-label"
            >Confirmer mot de passe :</label
          >
          <input
            type="password"
            name="confirmNewPassword"
            id="confirmpassword"
            placeholder="••••••••"
            required
            minlength="6"
          />
          <div class="show-password">
            <input
              type="checkbox"
              onclick="togglePassword('confirmpassword', this)"
            />
            <span class="show-password-text">Afficher</span>
          </div>
          {{if .ConfirmNewPasswordError}}
          <p class="error-message">{{.ConfirmNewPasswordError}}</p>
          {{end}}
        </div>

        <button type="submit" class="button">Modifier</button>
      </form>
    </main>
    {{template "InitFooter" .}}

    <script src="/static/js/nav.js"></script>
    <script src="/static/js/update-password.js"></script>
  </body>
</html>
